<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Ini Tugas Pertama Biodata
  </h1>

  <h1>{{hari | date : "fullDate"}}</h1><br>

</div>

<h1>
  Nama : {{nama}}<br>
  Alamat : {{alamat}}<br>
  Hobby : {{hob}}
</h1>

<table>
  <tr>
    <th>
      ID
    </th>
    <th>
      Hobby
    </th>
    <th>
      Keterangan
    </th>
  </tr>
  <tr *ngFor="let h of hobby">
    <td>
      {{ h.id }}
    </td>
    <td>
      {{ h.hobby }}
    </td>
    <td>
      {{ h.ket }}
    </td>
  </tr>
</table>
<router-outlet></router-outlet>
